.container {
    height: 200px;
    position: relative;
    border: 3px solid green;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .btn-primary {
    color: #fff;
    background-color: #111;
    border-color: #111;
    width: 26%;
    padding: 10px;
    margin-right: 20px;
}