<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <h3 class="heading">Snowflake Data Profiler</h3>
    <div class="navbar-nav ml-auto">  
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
        <a class="nav-item nav-link" routerLink="/" *ngIf="isUser" class="round">U</a>
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin" class="round">A</a>
        
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<!-- <div class="container"> -->
    <router-outlet></router-outlet>
<!-- </div> -->

